In [10]:
pip install pandas

Requirement already satisfied: pandas in c:\python310\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
data = {'שם': ['תמר', 'בת שבע', 'מיכל'],
        'כיתה': ["ג", "ב", "א"],
        'ממוצע ציונים': [96,97, 98]}

In [12]:
import pandas as pd

In [26]:
tbl = pd.DataFrame(data)
tbl

       שם כיתה  ממוצע ציונים
0     תמר    ג            96
1  בת שבע    ב            97
2    מיכל    א            98

In [27]:
tbl.loc[len(tbl.index)]=["rut","a",95]

In [28]:
tbl

       שם כיתה  ממוצע ציונים
0     תמר    ג            96
1  בת שבע    ב            97
2    מיכל    א            98
3     rut    a            95

In [29]:
tbl['שם']

0       תמר
1    בת שבע
2      מיכל
3       rut
Name: שם, dtype: object

In [30]:
tbl[tbl['כיתה'] == "א"]

     שם כיתה  ממוצע ציונים
2  מיכל    א            98

In [36]:
mtbl=tbl[tbl['ממוצע ציונים'].max()]

KeyError: 98

In [38]:
df = pd.read_csv('cities.csv')

In [39]:
df

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
...,...,...,...,...,...,...,...,...,...,...
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH

In [40]:

df = df.dropna(axis=0)

In [47]:
df['LatD'].mean()

38.8203125

In [48]:
df['LatD'].min()

26

In [49]:
df['LatD'].max()

50

In [57]:
df.insert(3, 'Population', df['LatD'].corr(df['LatD']))

ValueError: cannot insert Population, already exists

In [58]:
df.filter( df['LatD'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[128 rows x 0 columns]